.navbar {
  background-image: url(img/banner.jpg);
  height: 300px;
  position: initial;
  .navbar-brand {
    font-size: 40px;
  }

  .nav-link{
    font-size: 25px;
    color: white!important;
  }
}